
@import url("css/theme.css");


body {
    font-family: Helvetica Neue, Arial, sans-serif; /*Change most of the fonts*/
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: Helvetica Neue, Arial, sans-serif; /* specifically change header fonts */
}

h1 {
    font-size: 22.9px;
    font-weight: 400;
    margin-bottom: 27.84px;
}

/* Sidebar */

.wy-nav-side {		     /* Lower section of sidebar */
    background: #E9EBEE; 
}

.wy-side-nav-search {		/* Top section of sidebar (bit with logo and search box) */
    background-color: #2AB1E9; 	
}

.wy-menu-vertical ul { 
    margin-bottom: 8%; 		/* Increase spacing between blocks in the sidebar*/
}

.wy-menu-vertical li a {	    /* Sidebar heading links */
    color: #1D2129; 		/* Sidebar link text colour*/
    font-family: arial, sans-serif; /* so it favours arial rather than helvetica neue */
    font-size: 77.5%;

}
.wy-menu-vertical li a:hover { /* Attributes when sidebar header links are hovered over */

    background: #FFFFFF; 		
}

.wy-menu-vertical li.current { 	/* Subheadings of currently selected heading */
    background: none; 		/*don't use a different colour for the subheading section in the sidebar*/
    
}

.wy-menu-vertical li.current a:hover { 
    background: #FFFFFF; 	/* hover colour of subheader */
}

.wy-menu-vertical li.toctree-l2>a{ /* Individual subheadings of selected heading */
    color: #1D2129;
}

.wy-menu-vertical li.toctree-l2.current>a { /* currently selected subheader of current heading */
    background: none;
    border-bottom: none;
    border-top: none;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a { /* subsubheading */
    background: none;
    border-bottom: none;
    border-top: none;
    color: #1D2129;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current  li.toctree-l4>a { /* subsubsubheading */
    background: none;
    border-bottom: none;
    border-top: none;
    color: #1D2129;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover {
    background: #FFFFFF;
}

.wy-side-nav-search>a img.logo { /* Logo at top of sidebar (Powered by Audio360) */
    max-width: 75%;    
}

.wy-side-nav-search input[type=text] {
    border-color: transparent; 	/* remove border around search bar */
    box-shadow: none;
}

.wy-menu-vertical p.caption { 	/* Section titles (come from toctree captions in index.rst) */
    color: black;
    font-size: 80%;
}

/* Navbar */
/* Top bar that appears on mobile */
.wy-nav-top {
    background-color: #2AB1E9;
    color: white; 		/* Colour of the hamburger menu */
}

.wy-nav-top a {
    color: white; 
}

i.fa.fa-bars {
    margin-top: 1.1%; 		/* Hamburger menu distance from frop of bar */
}

/* Body */

.section {
    /* font-size: 91%; */
}

#facebook-audio-360 div { 	/* All the sections on the index page */
    margin-bottom: 60px;
}

h2 {
    /* font-size: 130%; */
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    font-weight: 500;
}

.section p{
    font-size: 13px;
    line-height: 21px;
}

ol.arabic li {
    font-size: 13px;
}

.section ul li{
    font-size: 13px;
}

.wy-nav-content {
    background: white;
}

.wy-nav-content-wrap { 		/* Colour of the area surrounding the body on large screen widths */
    background: white;
}

.wy-breadcrumbs {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif; 
}

.download-buttons { /* The download buttons are just hyperlinks */
    padding-bottom: 4.5%;	/* Allows buttons to have responsive height */
    position: relative;
    overflow: hidden;
    margin-bottom: 4%;
    padding-left: 33%;		/* Centre-ish the buttons */
}

.download-buttons a{
    background-color: #2AB1E9;
    position: absolute;
    height: 100%;
    width: 31%;
    border-radius: 30px;
    
    /* to centre the text itself in the block */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* font-size: 98%; */
    font-size: 13px;
    color: white;
}

.download-buttons a:hover{
    /* background-color: #4267B2; */
    background-color: #0490C9;
}

@media screen and (max-width: 1109px){
    .download-buttons a{
	font-size: 1.1vw; 	/* When the button sizes starts changing the font should as well */
    }
}

@media screen and (max-width: 945px) and (min-width: 768px){ /* Fix the button size before it gets too small */
    .download-buttons {
	padding-bottom: 24px;
    }

    .download-buttons a{
	width: 163px;
	font-size: 64%;
    }
}

@media screen and (max-width: 768px) and (min-width: 465px){ /* Change button size when switches to mobile view */
    .download-buttons {
	padding-bottom: 33px;
    }
    
    .download-buttons a{
	width: 220px;
	font-size: 84%;
    }
}

@media screen and (max-width: 465px){ /* Make the button responsive again to stop it being pushed off screen */
    .download-buttons{
	padding-bottom: 8.2%;
    }

    .download-buttons a{
	width: 56%;
	font-size: 2.9vw;
    }
}

.h1-local-toc {
    margin-top: -20px;
}

/* Prev/Next buttons */

div.rst-footer-buttons a.btn {
    color: #2AB1E9 !important;
    background-color: white !important;
    border: 1px solid #2AB1E9;

    border: 1px solid #2AB1E9;
    box-shadow: none;
    border-radius: 30px;
    font-size: 13px;
}
